*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/build-cache/
/example.iml
.idea/modules.xml;:
.idea/gradle.xml
chown/
sudo/
/app/.settings/
/.settings/
/.project
/app/.classpath
/app/.project
/snapkit-android/.settings/
/snapkit-android/.project
/snapkit-android/.classpath
